:root{
    -color-blue:rgb(67, 67, 200)
}
html,body{
    width: 100%;
    height: 100%;
    
}
h1 {
    font-size: 40px;
}

.name {
    width: 30%;
    margin-left: 10px;
    border-radius: 5px;
}
.start{
    display: grid;
    grid-template-columns: 1fr 55% 1fr;
    grid-template-rows: 300px 1fr 1fr;
}
.submit {
    border-radius: 10px;
    font-size: 4vw;
    padding: 10px;
    color: white;
    border: none;
    background-color: rgb(67, 67, 200);
    grid-column-start: 2;
    grid-row-start: 2;
    transition:transform 0.2s ease;

}
.submit:hover{
    transform:scale(1.1);
    transition:transform 0.2s ease;
    cursor: pointer;
}
.submitReload {
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    color: white;
    border: none;
    background-color: rgb(67, 67, 200);
    transition:transform 0.2s ease;

}
.submitReload:hover{
    transform:scale(1.1);
    transition:transform 0.2s ease;
    cursor: pointer;
}

/* ----------------------------- */
.meteo{
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
    width: 100%;
}